on:
  pull_request:
    branches:
      - feature/*
  
jobs:
  fetch-data:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        uses: actions/docker@v2
        